<meta charset="UTF-8">
<meta name="author" content="Fabian Vis">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Matching app</title>
<link href="../css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
