body {
    margin: 0 auto;
    background: #404040;
}
nav {
    width: 100%;
    background-color: black;
    position: sticky;
    height: 5vh;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

li {
    padding-top: 0.5em;
    list-style: none;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

a {
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

main section:first-of-type h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3em;
    text-align: center; 
}

main section:first-of-type h1 {
  font-family: 'Audiowide', cursive;
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

main section:first-of-type h3 {
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 1em;
  text-align: center;
}

main section:nth-of-type(2)  {
}
main section:nth-of-type(2) h1 {
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 1.1em;
  text-align: center;
  margin: auto;

}
main section:nth-of-type(2) ul { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0;
}

main section:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 25px;
  width: 150px;
  height: 13vh;
  margin-bottom: 2em;
}

main section:nth-of-type(2) button { 
    background-color: red;
    border: none;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    cursor: pointer;
    margin: auto;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase; 
}


  
  /* footer styling */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  footer p {
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 0.8em;
    text-align: center;
    position: sticky;
    bottom: 0;
    }
