<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>   
        <section>
            <img src="../img/fabian.jpeg" alt="Profielfoto van fabian vis"/>
            <h1>Fabian Vis</h1>
        </section>   
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>